server:
  port: 8282
  
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/blogappdb
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  security:
    user:
      name: sachin
      password: welcome1
      roles:
      - ADMIN
           
project.image: images/
logging:
  level:
    org: 
      springframework:
        security: DEBUG
        
  
    
       